
<%- include('partials/adminheader.ejs') %>


<body class="relative">
    <!-- Nav Section -->

    <%- include('partials/adminnav.ejs') %>

    <div class=" overflow-x-hidden grid grid-cols-4">

        <!-- SideBar -->
        <%- include('partials/adminside.ejs') %>
        
        <!-- Main Section -->
        <section class="col-span-4 md:col-span-3 mt-24">
            <h1 class="text-gray-700 text-3xl text-center my-10">Change Admin Email</h1>
            <h1 class="bg-green-500 opacity-80 p-2 text-white rounded-sm m-4 font-bold success text-center hidden">
               Email succesffuly updated
              </h1>
              <h1 class="bg-red-500 p-2 text-white rounded-sm m-4 font-bold text-center incorecct hidden">
                Incorrect Password
              </h1>
            <div class="w-[95%] mx-auto p-4 border rounded-md border-gray-200 shadow-md">
                <form class="col-span-3 space-y-5 py-5 mb-10 form">
                    <div class="space-y-2">
                      <p class="text-md font-bold text-gray-500 tracking-wider">
                        New Email
                      </p>
                      <input
                        required
                        type="email"
                        class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400 email"
                      />
                    </div>
                    <div class="space-y-2">
                      <p class="text-md font-bold text-gray-500 tracking-wider">
                       Password
                      </p>
                      <input
                        required
                        type="password"
                        class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400 password"
                      />
                    </div>
                    <button
                      type="submit"
                      class="text-white font-bold tracking-wider p-2 bg-orange-600 rounded-md block w-full mx-auto max-w-[500px] submit mb-5"
                    >
                      update
                    </button>
                  </form>
            </div>
        </section>
    </div>

    <script src="/public/js/dashboard.js"></script>
    <script src="/public/admin/email.js"></script>
</body>
</html>