<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/public_files/logo.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/public_files/tailwind.css" />
	<link rel="stylesheet" href="/public_files/592.8b338026.css">
	<link rel="stylesheet" href="/public_files/app.8827dbcd.css">
	<title>TWEEDODGE - Admin</title>
	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
	<style>
		
		body {
			background-color: #201e1ef5;
			color: white;
		}

		.ultra {
			font-family: 'Ultra', serif;
		}

		.russo {
			font-family: 'Russo One', sans-serif;
		}

		option {
			background: #1b1a1a !important;
			color: #d2e9ca !important;
		}
		.prosto {
            font-family: 'Prosto One', cursive;
        }
	</style>
	<link rel="stylesheet" href="/public/styles/style.css" />
</head>